.project-image::before {
  width: 58px;
  height: 58px;
  border-width: 15px;
}

.gold .project-image::before {
  width: 78px;
  height: 41px;
}

.project-description {
  margin: 12px 0 0;
}

.project-description + .project-link {
  margin-top: 28px;
}
